/*animals animation section*/
.slider {
    display: grid;
    place-items: center;
}
.slider-img {
    width: 100%;
    height: 90vh;
    background-image: url("images/animal1.jpg");
    background-size: 100% 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    animation: changeImage 20s linear infinite;
}
/* Define keyframes for the sliding animation */
@keyframes changeImage {
    0% {
        background-image: url("images/animal1.jpg");
    }
    25% {
        background-image: url("images/animal2.jpg");
    }
    50% {
        background-image: url("images/animal3.jpg");
    }
    75% {
        background-image: url("images/animal4.jpg");
    }
    100% {
        background-image: url("images/animal5.jpg");
    }
}

.main_heading {
    justify-content: center;
    color: #7a7272;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 1000;
    letter-spacing: 5px;
    font-size: 50px;
    display: flex;
    margin-bottom: 50px;
    margin-top: 100px;
}
.sec_heading {
   justify-content: center;
   display: flex;
}
.section_heading {
    font-size: 40px;
    font-weight: bolder;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
    padding: 20px;
    border: 1px solid #b1abab;
    box-shadow: rgb(0, 0, 0) 0px 8px 24px;
    background-color: aliceblue;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    border-radius: 50px;
}
.grid-item {
    background-color: aliceblue;
    padding: 20px;
    border: 1px solid #b1abab;
    text-align: left;
    box-shadow: rgb(0, 0, 0) 0px 8px 24px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
}
.grid-item:hover {
    background-color: rgb(67, 131, 7);
    color: rgb(255, 255, 255);
    transition: all 1s ease;
}
.title {
    font-size: 30px;
    color: black;
    margin-bottom: 20px;
    padding: 30px;
    text-align: center;
}
.detail {
    font-size: 22px;
    padding: 30px;

}
.img1 {
    width: 30%;
    height: 50%;
    float: right;
    margin-left: 20px;


}
.img2 {
    width: 30%;
    height: 50%;
    float: left;
    margin-right: 20px;
}

@media only screen and (max-width: 768px) {
    .detail{
        font-size: 16px;
    }
    .title{
        font-size: 18px;
        margin-bottom: 0;
    }
    .img1,.img2{
        width: 100%;
    }
    .main_heading {
        font-size: 2.5rem;
    }
    .slider-img {
        height: 700px;
    }


}

@media only screen and (max-width: 630px) {

    .slider-img {
        margin-top: 100px;
        height: 400px;
    }

}

@media only screen and (max-width: 460px) {
    .detail{
        font-size: 16px;
    }
    .grid-container{
        width: 100%;
        margin-left: 0;
    }
    .grid-item{
        width: 100%;
        margin-left: 0;
    }
    .title{
        font-size: 18px;
        margin-bottom: 0;
    }
    .img1,.img2{
        width: 100%;
    }
    .slider-img {
        height: 300px;
    }

}
